
h1, h2, h3, h4, h5, h6, p, ul{
  margin-bottom: 0;
  padding-bottom: 0;
}

body{
  .gradiend{
    background: #F6F6F6;

    ////////////////// Popular component ///////////////////
    .popular_con{
      .popular_row{
        padding-top: 100px;
        .popular_col12{
          h1{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
          }
        }
        .popular_col_slic{
          margin-top: 40px;

          .slic_col12{
            .slic_card{
              overflow: hidden;
              &:hover{
                .write{
                  margin-bottom: 0;
                }
              }
              img{
                position: relative;

              }
              .write{
                position: absolute;
                bottom: 30px;
                left: 30px;
                margin-bottom: -150px;
                transition: all .3s linear;

                h1{
                  font-family: SF Pro Display;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 22px;
                  line-height: 26px;
                  display: flex;
                  align-items: center;
                  text-transform: capitalize;
                  color: white;
                  text-shadow: 0 0 10px black;

                }
                h2{
                  font-family: SF Pro Display;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 17px;
                  display: flex;
                  align-items: center;
                  text-transform: capitalize;
                  color: white;
                  text-shadow: 0 0 10px black;

                }
                button{
                  background: black;
                  border-radius: 1px;
                  margin-top: 20px;
                  height: 30px;
                  font-size: 16px;
                  padding: 0 30px;
                  border: 0;
                  font-family: SF Pro Display;
                  font-style: normal;
                  font-weight: normal;
                  line-height: 19px;
                  display: flex;
                  align-items: center;
                  text-transform: capitalize;
                  color: #FFFFFF;
                  &:hover{
                    background: green;
                  }
                }
              }
            }
          }


          ///////// surgichlar //////

          .slick-slider{
            position: relative;
            .slick-prev{
              position: absolute;
              width: 40px!important;
              height: 40px!important;
              top: -50px;
              left: 1000px!important;
              &:before{
                border-radius: 0!important;
                font-size: 40px!important;
                color: black;
              }

            }
            .slick-next{
              position: absolute;
              width: 40px!important;
              height: 40px!important;
              top: -50px;
              right: 20px;
              &:before{
                border-radius: 0!important;
                font-size: 40px!important;
                color: black;

              }
            }
            .slick-dots{
              display: none!important;
            }
          }

          ////////// rasm ichidagi yozuv ////////


        }
      }
    }


    ////////////////// New component //////////////////////

    .new_container{
      .new_row{
        padding-top: 100px;
        .new_col12{
          .new_col_conteiner{
            h1{
              font-family: SF Pro Display;
              font-style: normal;
              font-weight: 500;
              font-size: 40px;
              line-height: 48px;
              display: flex;
              align-items: center;
              text-transform: uppercase;
              color: #000000;
            }
          }
        }
        .new_slic_col12{
          margin-top: 20px;
          .new_slic_card{
            border: none;
            .card-body{
              padding: 0;
            }
            .card-footer{
              background: white;
              border: none;
              .left1{
                h6{
                  font-family: SF Pro Display;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 21px;
                  display: flex;
                  align-items: center;
                  color: #000000;
                }
                h2{
                  font-family: SF Pro Display;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 29px;
                  display: flex;
                  align-items: center;
                  margin-top: 10px;

                  color: #000000;
                }
              }
              .right1{
                margin-left: 20px;
                button{
                  width: 46px;
                  height: 46px;
                  background: #F6F6F6;
                  border-radius: 50%;
                  border: none;
                  display: flex;
                  justify-content: center;
                  img{
                    margin-top: 10px;
                  }
                  &:hover{
                    background: black;
                    .rasm_qulf1{
                      display: none;
                    }
                    .rasm_qulf2{
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}