
h1, h2, h3, h4, h5, h6, p, ul{
  margin-bottom: 0;
  padding-bottom: 0;
}

body{
  .gradiend{
    background: #F6F6F6;
    .popular_con{
      .popular_row{
        padding-top: 100px;
        .popular_col12{

        }
      }
    }
  }
}